### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
# File to Load
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
#purchase_data.head()

## Player Count

* Display the total number of players

In [2]:
total_players=purchase_data.groupby("SN")["SN"].nunique()
total_player_number=total_players.count()
print(total_player_number)

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#find number of unique items
unique_items=purchase_data.groupby("Item Name")["Item Name"].nunique()
itemcount=unique_items.count()
print(itemcount)

179

In [4]:
#average price, number of purchases, total revenue calculated
average_price=purchase_data["Price"].mean()

#number of purchases
total_purchases=len(purchase_data)

#total revenue
total_revenue = purchase_data["Price"].sum()

In [5]:
purchasing_analysis_df=pd.DataFrame({"Number of Unique Items": [itemcount],
                                    "Average Price": [average_price],
                                    "Number of Purchases": [total_purchases],
                                    "Total Revenue": [total_revenue]})
purchasing_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [6]:
#Style the table
purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].map("${:.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:,}".format)
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:

#first must get rid of duplicate SNs
purchase_data_no_duplicates=purchase_data.drop_duplicates(subset='SN')

# purchase_data_no_duplicates.value_counts()

#Counts
player_dem_df=purchase_data_no_duplicates["Gender"].value_counts()
#Percents
player_percents = (player_dem_df * 100)/total_player_number

#create table
gender_demographics = pd.DataFrame({"Total Count": player_dem_df,
                                   "Percentage": player_percents})
#Style and show the table
gender_demographics['Percentage']=gender_demographics['Percentage'].map("{0:.2f}%".format)
gender_demographics

                       Total Count Percentage
Male                           484     84.03%
Female                          81     14.06%
Other / Non-Disclosed           11      1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
#Find purchase count, avg. purchase price, avg. total per person by gender using groupby
gender_counts=purchase_data.groupby(['Gender']).count()['Price'].rename('Purchase Count')
gender_avg=purchase_data.groupby(['Gender']).mean()['Price'].rename("Average Purchase Price")
gender_purchase_total=purchase_data.groupby(['Gender']).sum()['Price'].rename('Total Purchase Value')
avg_total=gender_purchase_total / gender_demographics['Total Count']

gender_data=pd.DataFrame({"Purchase Count": gender_counts,
                         "Average Purchase Price": gender_avg,
                         "Total Purchase Value": gender_purchase_total,
                         "Average Purchase per Person": avg_total})


#style the table
gender_data['Average Purchase Price']=gender_data['Average Purchase Price'].map("${:.2f}".format)

gender_data['Total Purchase Value']=gender_data['Total Purchase Value'].map("${:,.2f}".format)
gender_data['Average Purchase per Person']=gender_data['Average Purchase per Person'].map("${:,.2f}".format)

gender_data

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [17]:
age_bins=[0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 35.99, 99.99]
group_names=["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">40"]

#create new df with needed data
players_df=purchase_data_no_duplicates.loc[:, ["Gender", "SN", "Age", "Price"]]

#bin the ages
players_df["Age Ranges"]=pd.cut(players_df["Age"], age_bins, labels=group_names)

#numbers and percentages by age group
age_demographics_totals=players_df["Age Ranges"].value_counts()
age_demographics_percents=age_demographics_totals / total_player_number * 100
age_demographics= pd.DataFrame({"Total Count": age_demographics_totals,
                               "Percent of Players": age_demographics_percents})


#format percents
age_demographics['Percent of Players']=age_demographics['Percent of Players'].map("{0:.2f}%".format)

age_demographics.sort_index()

       Total Count Percent of Players
<10             17              2.95%
10-14           22              3.82%
15-19          107             18.58%
20-24          258             44.79%
25-29           77             13.37%
30-34           52              9.03%
35-39           10              1.74%
>40             33              5.73%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [25]:
#create bins and apply to df
age_bins=[0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 35.99, 99.99]
group_names=["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">40"]
players_df["Age Ranges"]=pd.cut(players_df["Age"], age_bins, labels=group_names)

#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
age_purchase_total = players_df.groupby(["Age Ranges"]).sum()["Price"].rename("Total Purchase Value")
age_average = players_df.groupby(["Age Ranges"]).mean()["Price"].rename("Average Purchase Price")
age_count = players_df.groupby(["Age Ranges"]).count()["Price"].rename("Purchase Count")
age_avg = age_purchase_total / age_demographics["Total Count"]

#create df to present information
age_data = pd.DataFrame({"Purchase Count": age_count,
                        "Average Purchase Price": age_average,
                        "Total Purchase Value": age_purchase_total,
                        "Average Total Purchase per Person": age_avg})

#style table for currency notation
age_data["Average Purchase Price"] = age_data["Average Purchase Price"].map("${:,.2f}".format)
age_data["Total Purchase Value"] = age_data["Total Purchase Value"].map("${:,.2f}".format)
age_data["Average Total Purchase per Person"] = age_data["Average Total Purchase per Person"].map("${:,.2f}".format)

age_data

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
<10,17,$3.39,$57.63,$3.39
10-14,22,$3.07,$67.64,$3.07
15-19,107,$3.10,$331.88,$3.10
20-24,258,$3.06,$790.39,$3.06
25-29,77,$2.91,$223.93,$2.91
30-34,52,$2.92,$151.92,$2.92
35-39,10,$3.83,$38.26,$3.83
>40,33,$3.24,$107.00,$3.24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [41]:
#we require duplicates to be included, so original purchase_data df is used
SN_df=purchase_data.groupby(purchase_data["SN"])
screenname=SN_df['SN'].unique()
SN_count=SN_df['Age'].count()

#create df for total and average purchase
SN_avg=round(SN_df['Price'].mean(),2)
SN_total=SN_df['Price'].sum()

top_spend = pd.DataFrame({"SN":screenname,"Purchase Count":SN_count,
                 "Average Purchase Price":SN_avg,"Total Purchase Value":SN_total})
top_spend=top_spend.set_index('SN')
top_spend= top_spend.sort_values("Total Purchase Value", ascending=False)
top_spend.head(5)

               Purchase Count  Average Purchase Price  Total Purchase Value
SN
[Lisosia93]                 5                    3.79                 18.96
[Idastidru52]               4                    3.86                 15.45
[Chamjask73]                3                    4.61                 13.83
[Iral74]                    4                    3.40                 13.62
[Iskadarya95]               3                    4.37                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame